@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #02130D;

}

h1  {

    margin: 10px;
    color: #C2C744;
    text-align: center;
    font-family: 'rye', serif;

}

div {
    
    display: flex;
    justify-content: space-between;
    
    background-color: #3db3f3;
}

p {
    height: 15px;
    width: 25px;
    border-radius: 500px;
    background-color: #e88317;
}

a {
    
    text-decoration: none;
    color: #C2C744;

}

tbody {
    
    border-radius: 1px;
    
}

table {
    
    display: flex;
    justify-content: center;

}

.fundo__tabela {

    
    background-color: #C2C744;
    font-family: 'joti one', serif;
    font-size: 0.8rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px;
    width: 110px;
    height: 12px;
    padding: 5px;

}

.fundo__tabelatop1 {

    font-family: 'joti one', serif;
    font-size: 0.8rem;
    color: #C2C744;
    text-align: center;
    border: groove, #C2C744, 5px;
    border-radius: 3px;


}

.fundo__tabelatop2 {

    font-family: 'joti one', serif;
    font-size: 0.8rem;
    color: #c0c0c0;
    text-align: center;
    border: groove, #c0c0c0, 5px;
    border-radius: 3px;



}

.fundo__tabelatop3 {

    font-family: 'joti one', serif;
    font-size: 0.8rem;
    color: #db8433;
    text-align: center;
    border: groove, #db8433, 5px;
    border-radius: 3px;

}

.fundo__tabela2 {

    border: groove, #3db3f3, 2px;
    font-family: 'joti one', serif;
    color: #f6f7f3;
    font-size: 0.8rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    width: 112px;
    height: 1px;


}

img {
    
    box-sizing: border-box;
    width: 145px;
    height: 20px;

 }


h2 {

    color: #C2C744;
    font-family: 'rye', serif;
    margin: 5px;
    text-align: center;
    

 }


