/* Estilos base - Mobile First */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a710e;
    
    
}

.form-container {
    background-color: #094202;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #edf90a;
}

.form-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #de2020;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="Gametarg"],
.form-container input[type="tel"],
.form-container button {
    width: 100%;
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid #107f0c;
    border-radius: 5px;
    font-size: 16px;
    
    
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="Gametarg"]:focus,
.form-container input[type="tel"]:focus {
    border-color: #007bff;
    outline: none;
    
}

.form-container button {
    background-color: #b3ff00;
    color: rgb(22, 119, 238);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container .privacy {
    text-align: center;
    font-size: 12px;
    color: #1ca01a;
}

.form-container .privacy a {
    color: #372ee1;
    text-decoration: none;
}

.form-container .privacy a:hover {
    text-decoration: underline;
}

/* Estilos para tablets e telas maiores */
@media (min-width: 768px) {
    .form-container {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .form-container {
        width: 50%;
    }

    .form-container h1 {
        font-size: 28px;
    }

    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container input[type="password"],
    .form-container input[type="tel"],
    .form-container button {
        font-size: 18px;
    }
}
