
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


:root {

    --cor-principal: #02130D;
    --cor-secundaria: #C2C744;
    --cor-terciaria: #f69e4c;
    --cor-hover: #ca7e15;

}

* {

    margin: 0;
    padding: 0;
}

body {
    
      background-image: url(../fundos/fundo1.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     
    
    
}


nav {

    margin: 1.5em;
    display: flex;
    justify-content: center;
    gap: 20px;
    

 }

nav :hover {

    color: var(--cor-hover);
    
 }


a {

    text-decoration: none;
    color: #C2C744;
    font-family: 'Joti One', serif;
    font-size: 16px;

 }
 

h1 {

    margin: 15px;
    color: var(--cor-secundaria);
    font-family: 'Joti One', serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1em;

 }



.img__logos {

    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 2em;
    
} 

.xbox__logo {

    margin-top: 17em;
    display: flex;
    justify-content: center;
    height: 200px;

}





.rodape__links {

    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;

}



.form__1 :hover {
    
    color: var(--cor-hover);
    
    
    
}

@media (max-width: 551px) {

    body {

        background-image: url(../fundos/fundoclassificacao.png);
        background-position: center;
        background-size: 75vh;
    }

    a {

        text-decoration: none;
        color: #C2C744;
        font-family: 'rye', serif;
        font-size: 14px;
    
     }

    h1 {

        margin: 10px;
        color: var(--cor-secundaria);
        font-family: 'Rye', serif;
        font-size: 1.5em;
        text-align: center;
        margin-top: 1.5em;
    
     }

    .xbox__logo {

        margin-top: 4em;
        display: flex;
        justify-content: center;
        height: 150px;
    
    }

    .img__logos {
        
        margin-top: 2em;
        display: flex;
        justify-content: center;
        height: 30px;
        
        
    } 

}

    @media (max-width: 391px) {

        body {
    
            background-image: url(../fundos/fundoclassificacao.png);
            background-position: center;
            background-size: 60vh;
        }

        .img__logos {
        
            margin-top: 2em;
            display: flex;
            justify-content: center;
            height: 22px;
            
            
        } 
}












