
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');


:root {

    --cor-principal: #02130D;
    --cor-secundaria: #C2C744;
    --cor-terciaria: #f69e4c;
    --cor-hover: #ca7e15;

}

* {

    margin: 0;
    padding: 0;
}

body {
    
      background-image: url(../fundos/fundo1.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 300vh;
    
    
}


nav {

    margin: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    

 }

nav :hover {

    color: var(--cor-hover);
    
 }


a {

    text-decoration: none;
    color: #C2C744;
    font-family: 'rye', serif;
    font-size: 16px;

 }
 

h1 {

    margin: 15px;
    color: var(--cor-secundaria);
    font-family: 'Rye', serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 2.5em;

 }



.img__logos {

    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 3em;
    
} 

.xbox__logo {

    margin-top: 20em;
    display: flex;
    justify-content: center;
    height: 200px;

}





.rodape__links {

    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;

}



.form__1 :hover {
    
    color: var(--cor-hover);
    
    
    
}

@media (min-width: 390px) {

    body {

        background-image: url(../fundos/fundoclassificacao.png);
        background-size: 65vh;
    }

    a {

        text-decoration: none;
        color: #C2C744;
        font-family: 'rye', serif;
        font-size: 14px;
    
     }

    nav {

        margin: 2em 0;
        display: flex;
        justify-content: center;
        gap: 20px;
        
    
     }

     .img__logos {

        display: flex;
        justify-content: center;
        height: 25px;
        margin-top: 3em;
        
        
        
    } 

    .xbox__logo {

        margin-top: 3em;
        display: flex;
        justify-content: center;
        height: 150px;
    
    }

    h1 {

        margin: 1em 0;
        color: var(--cor-secundaria);
        font-family: 'Rye', serif;
        font-size: 2rem;
        text-align: center;
        
    
     }
}

@media (min-width: 480px) {

    body {

        background-image: url(../fundos/fundoclassificacao.png);
        background-size: 100vh;
    }

    .img__logos {

        display: flex;
        justify-content: center;
        height: 25px;
        margin-top: 2em;
        
    } 

    a {

        text-decoration: none;
        color: #C2C744;
        font-family: 'rye', serif;
        font-size: 16px;
    
     }

}








