
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');


:root {

    --cor-principal: #000c0c;
    --cor-secundaria: #087ad7;
    --cor-terciaria: #f69e4c;
    --cor-hover: #ca7e15;

}

* {

    margin: 0;
    padding: 0;
}

body {
    
        background-image: url(backgroud.jpeg);
        background-size: cover; /* Ajusta a imagem para cobrir toda a área do contêiner */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Evita a repetição da imagem */
        background-attachment: fixed; /* Mantém a imagem fixa enquanto rola a página */
        height: 50vh; /* Garante que o body ocupe toda a altura da tela */

    
    
    
}


nav {

    margin: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    

 }

nav :hover {

    color: var(--cor-hover);
    
 }


a {

    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Joti one', serif;

 }
 

h1 {

    margin: 15px;
    color: var(--cor-terciaria);
    font-family: 'Rye', serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;

 }



.img__logos {

    display: flex;
    justify-content: center;
    height: 25px;
    
} 

.xbox__logo {

    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 100px;

}

.img__vespa {

    display: flex;
    justify-content: center;
    gap: 100px;
    height:316px;
    
}



.rodape__links {

    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;

}

.form__1 {

    margin-top: 80px;
    margin-right: 20px;
    text-align: end;

}

.form__1 :hover {
    
    background-color: var(--cor-hover);
    border-radius: 4px;
    
    
}







