@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Joti+One&display=swap');


:root {
    --cor-principal: #000c0c;
    --cor-secundaria: #0fbab7;
    --cor-terciaria: #f1d989;
    --cor-hover: #3e3932;

}

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: var(--cor-principal);
    
    
}

h1 {
    
    font-family: 'Joti one', serif;
    color: #f1d989;
    text-align: center;
    background: none;
}

.regras__liga {
    font-family: 'Joti one', serif;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
}

div h2 {
    color: #0fbab7;
}

div p {
    color: #f1d989;
}

.p__5 {
    color: rgb(248, 249, 246);
}

.p__10 {
    color: yellow;
}

.p__15 {
    color: red;
}

.exclusao__liga {
    color: rgb(55, 0, 255);
}

.tabela__pontos {
    
    background-color: #0fbab7;
    border-style: groove;
    border-radius: 30px;
    
    

}

.logos__lastro {
    margin: 25px;
    display: flex;
    justify-content: center;
    height: 32px;
    
}