@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');


:root {
    --cor-principal: #000c0c;
    --cor-secundaria: #0fbab7;
    --cor-terciaria: #f1d989;
    --cor-hover: #3e3932;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: block;
    background-color: var(--cor-principal);
      
}

.nav__menu {

    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: self-end;
    gap: 10px;

}

a {
    
    font-family: 'Rye', serif;
    color: #e14d13;
    text-align: center;
    text-decoration: none;

}

.inicio__html {

    font-size: 2.5rem;
    color: #0fbab7;

}

.regras__liga {
    
    font-family: 'Joti one', serif;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
}


div h2 {
    margin: 15px;
    font-family: 'rye', serif;
    color: #0fbab7;

}

div p {

    color: #f1d989;

}


.p__5 {

    color: rgb(248, 249, 246);

}

.p__10 {

    color: yellow;

}

.p__15 {

    color: red;

}

.exclusao__liga {

    color: rgb(61, 67, 238);

}

.logos__lastro {

    margin: 15px;
    display: flex;
    justify-content: center;
    height: 25px;
    
}

